<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUDLFT Registration</title>
</head>
<body>
    <h1>Welcome to the GUDLFT Registration Portal!</h1>
    <p style={{ style }}>{{ message }}</p>
    Please enter your secretary email to continue:
    {% from "_formhelpers.html" import render_field %}
    <form action="showSummary" method="post">
        {{ render_field(form.email) }}
        <button type="submit">Enter</button>
    </form>
</body>
</html>